<div class="wrapper wrapper-content animated fadeInRight">

  <h2>我的收藏</h2>
  <div class="row">
    <div class="col-lg-12">

      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

          <% @products.each do |e|%>
          <div class="col-md-3">
            <div class="ibox">
              <div class="ibox-content product-box">
                <div class="product-imitation">
                  <a href="<%= product_path(e) %>"><img alt="image" src="<%= e.photo0.url(:thumb) %>" style = "width:100%"></a>
                </div>
                <div class="product-desc">
                  <span class="product-price">
                    $<%= e.price %>
                  </span>
                  <a href="<%= product_path(e) %>" class="product-name pname"> <%= e.title %></a>

                  <div class="small m-t-xs ptext">
                    <%= e.description.length > 20 ? e.description[0,20]+"..." : e.description %>
                  </div>

                  <%if e.status == 0%>
                    <span class="label label-primary">正在出售</span>
                  <%elsif e.status == 1%>
                    <span class="label label-warning">正在联系</span>
                  <%elsif e.status == 2%>
                    <span class="label label-success">已卖出</span>
                  <%end%>

                </div>
              </div>
            </div>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  $('.slick_demo').slick(
    {
      dots:true
    }
  );
});
</script>
