<div>

  <h1 class="logo-change">THUPost</h1>

</div>
<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <h3>重发确认邮件</h3>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group" style="height: 34px; margin-bottom: 20px;">
          <input id="email-input" class="form-control" placeholder="清华邮箱" required="required" style="width:110px;float: left;"
                 oninvalid="this.setCustomValidity('请填写邮箱')" oninput="setCustomValidity('')"/>
          <span style="float: right;height: 34px;line-height: 34px;color: #fff;">@mails.tsinghua.edu.cn</span>
        </div>

        <div class="form-group" style="display: none;">
          <%= f.email_field :email, autofocus: true, class: "form-control", id: 'email' %>
        </div>

        <div class="form-group">
          <%= f.submit "重发确认邮件", class: "btn btn-sm btn-primary btn-block" %>
        </div>

        <div class="form-group">
          <%= render "devise/shared/links" %>
        </div>
    <% end %>


  </div>
</div>

<script>
  $(function () {
    $('form').submit(function () {
      $('#email').val('');
      $('#email').val($('#email-input').val() + '@mails.tsinghua.edu.cn');
    });
  });
</script>
