
<div>
  <h1 class="logo-change">THUPost</h1>
</div>


<div class="middle-box text-center loginscreen animated fadeInDown">
  <div class="tabs-container">
      <ul class="nav nav-tabs" style="border-bottom: 1px solid transparent;">
          <li id="tab1" class="active"><a data-toggle="tab"> 学生版</a></li>
          <li id="tab2" class=""><a data-toggle="tab"> 教工版</a></li>
      </ul>
  <div class="login-box">
    <h3>注册 THUPost 账号</h3>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'm-t', :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group" style="height: 34px; margin-bottom: 20px;">
          <%= f.text_field :nickname, id: 'email-input', class: 'form-control', placeholder: '清华邮箱', required: 'required',
                           style: 'width:110px;float: left;', oninvalid: "this.setCustomValidity('请填写邮箱')", oninput: "setCustomValidity('')" %>
          <span id="address" style="float: right;height: 34px;line-height: 34px;color: #fff;">@mails.tsinghua.edu.cn</span>
        </div>
        <div class="form-group" style="display: none;">
          <%= f.text_field :email, id: 'email' %>
        </div>
        <div class="form-group">
          <%= f.text_field :phone, class: 'form-control', placeholder: '手机号', required: 'required',
                           pattern: '\d{11}', oninvalid: "this.setCustomValidity('请填写手机号(11位)')", oninput: "setCustomValidity('')" %>
        </div>
        <div class="form-group">
          <%= f.text_field :nickname, class: 'form-control', placeholder: '昵称', required: 'required',
                           oninvalid: "this.setCustomValidity('请填写昵称')", oninput: "setCustomValidity('')", maxlength: "32" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, class: 'form-control', placeholder: '密码(至少8位)', required: 'required',
                               pattern: '.{8,}', oninvalid: "this.setCustomValidity('请设置密码(至少8位)')", oninput: "setCustomValidity('')" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '确认密码', required: 'required',
                               pattern: '.{8,}', oninvalid: "this.setCustomValidity('请再次输入密码(至少8位)')", oninput: "setCustomValidity('')" %>
        </div>

        <%= f.submit '注册', :class => 'btn btn-sm btn-primary btn-block' %>
        </br>
        <p class="text-muted text-center">
          <small>已经注册?</small>
        </p>
        <a class="btn btn-sm btn-white btn-block" href="<%= new_user_session_path %>">登录</a>

    <% end %>
  </div>
  </div>
</div>


<script>
  $(function () {
    var match = /^(.*)@mails\.tsinghua\.edu\.cn$/.exec($('#email-input').val());
    if (match && match[1]) {
      $('#email-input').val(match[1]);
    }

    var email_add = '@mails.tsinghua.edu.cn'

    $("#tab1").click(function() {
      email_add =  '@mails.tsinghua.edu.cn'
      document.getElementById("address").innerHTML=email_add;
    });

    $("#tab2").click(function() {
      email_add =  '@mail.tsinghua.edu.cn'
      document.getElementById("address").innerHTML=email_add;
    });


    $('form').submit(function () {
      $('#email').val();
      $('#email').val($('#email-input').val() + email_add);
      console.log($('#email').val());
    });
  });
</script>
