<p>尊敬的 <%= @order.user.nickname %>：</p>

<p>您购买的商品<%= @order.product.title %>，卖家已经成功确认。</p>

<p>请和卖家"<%= @order.product.user.nickname %>"取得联系。卖家的邮件是<a href="Mailto:<%= @order.product.user.email %>"><%= @order.product.user.email %></a>，手机号是<%= @order.product.user.phone %>。</p>

<p>THUPOST小组</p>
