<p>尊敬的 <%= @order.product.user.nickname %>：</p>

<p>您刚刚选择了商品“<%= @order.product.title %>”的订单</p>

<p>请和买家“<%= @order.user.nickname %>”取得联系。买家的邮件是<a href="Mailto:<%= @order.user.email %>"><%= @order.user.email %></a>，手机号是<%= @order.user.phone %>。</p>

<p>THUPOST小组</p>
