<style>
  .file-btn { 
      position: relative; 
  } 
  .file-btn input[type="file"] { 
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%; 
      opacity: 0; 
  } 
   
  .actions { 
      padding: 5px 0; 
  } 
  .actions button { 
      margin-right: 5px; 
  } 
  .crop {
    display:none;
  }
</style>


<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title col-lg-12">
          <h5>我的名片</h5><small>（本平台以代发邮件或短信的形式交换买卖双方的联系方式，以便线下交易完成买卖，请务必填写好个人信息~）</small>
        </div>
        <div class="ibox-content col-lg-12">
          <%= form_for @user, html: {class: "form-horizontal"}, url: {action: "edit"} do |f| %>

          <div class="col-md-7">

            <div class="form-group"><label class="col-sm-2 control-label">清华邮箱</label>
              <div class="col-sm-10"><input class="form-control" value="<%= @user.email %>" disabled></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">昵称</label>
              <div class="col-sm-10">
                <input type="text" name="nickname" class="form-control" value="<%= @user.nickname %>"
                required="required" maxlength="32"
                oninvalid="this.setCustomValidity('请填写昵称')" oninput="setCustomValidity('')"></div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group"><label class="col-sm-2 control-label">联系电话</label>
                <div class="col-sm-10">
                  <input type="text" name="phone" class="form-control" value="<%= @user.phone %>" required="required"
                  maxlength="11" pattern="\d{11}" oninvalid="this.setCustomValidity('请填写手机号(11位)')" oninput="setCustomValidity('')">
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group"><label class="col-sm-2 control-label">微信</label>
                <div class="col-sm-10">
                  <input type="text" name="wechat" class="form-control" maxlength="32" value="<%= @user.wechat %>">
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group"><label class="col-sm-2 control-label">住址</label>
                <div class="col-sm-10">
                  <input type="text" name="address" class="form-control" maxlength="128" value="<%= @user.address %>">
                </div>
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-2 control-label">更改头像</label>
                              <div class="actions"> 
                  <button class="file-btn"> 
                      <span>上传</span> 
                      <input type="file" id="upload" value="选择图片文件" accept="image/*"/> 
                  </button> 
                  <div class="crop"> 
                      <div id="upload-demo"></div> 
                      <button id="upload-result" type="button">裁剪</button> 
                  </div> 
                  <input type="file" id="update-image" name="avatar" value="<%= @user.avatar %>" > 
              </div>

              </div>

            </div>
            <div class="col-md-5">
              <div class="contact-box">

                <div class="col-sm-4">
                  <div class="outer" style="height:100px;width:100px;overflow:hidden">
                    <img id="show" alt="image" class="img-circle m-t-xs" height="95" width="95" src="<%= @user.avatar.url(:small) %>">
                  </div>
                </div>
                <div class="col-sm-8">
                  <h3><strong><%= @user.nickname %></strong></h3>
                  <p><i class="fa fa-map-marker"></i> <%= @user.address %></p>
                  <address>
                    <strong>联系方式</strong><br>
                    <i class="fa fa-phone"></i> <%= @user.phone %><br>
                    <i class="fa fa-wechat"></i> <%= @user.wechat %><br>
                    <i class="fa fa-envelope"></i> <%= @user.email %><br>
                  </address>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-4">
                <button class="btn btn-primary" type="submit">保存修改</button>
              </div>
            </div>
          </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">


$(function() {

  var $uploadCrop; 
 
  function readFile(input) { 
    if (input.files && input.files[0]) { 
      var reader = new FileReader(); 
                 
      reader.onload = function (e) { 
       $uploadCrop.croppie('bind', { 
         url: e.target.result 
        }); 
      }       
      reader.readAsDataURL(input.files[0]); 
    } 
      else { 
        alert("对不起，您的浏览器不支持FileReaderAPI"); 
    } 
  } 
 
        $uploadCrop = $('#upload-demo').croppie({ 
            viewport: { 
                width: 200, 
                height: 200, 
                type: 'circle' 
            }, 
            boundary: { 
                width: 300, 
                height: 300 
            } 
        }); 
 
        $('#upload').on('change', function () {  
            $(".crop").show(); 
            readFile(this);  
        }); 

        $('#upload-result').on('click', function (ev) { 
            $uploadCrop.croppie('result', 'canvas').then(function (resp) { 
                changeavator({ 
                    src: resp 
                }); 
            }); 
        }); 

    function changeavator(result) { 
        var html; 
        if (result.html) { 
            html = result.html; 
        } 
        if (result.src) { 
          $("#show").attr("src",result.src);
          $("#update-image").val(result.src);
        } 
    } 

});


</script>
