<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title col-lg-12">
          <h5>我的名片</h5><small>（本平台以代发邮件或短信的形式交换买卖双方的联系方式，以便线下交易完成买卖，请务必填写好个人信息~）</small>
        </div>
        <div class="ibox-content col-lg-12">
          <%= form_for @user, html: {class: "form-horizontal"}, url: {action: "edit"} do |f| %>

          <div class="col-md-7">


            <div class="form-group"><label class="col-sm-2 control-label">清华邮箱</label>
              <div class="col-sm-10"><input class="form-control" value="<%= @user.email %>" disabled></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">昵称</label>
              <div class="col-sm-10">
                <input type="text" name="nickname" class="form-control" value="<%= @user.nickname %>"
                required="required" maxlength="32"
                oninvalid="this.setCustomValidity('请填写昵称')" oninput="setCustomValidity('')"></div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group"><label class="col-sm-2 control-label">联系电话</label>
                <div class="col-sm-10">
                  <input type="text" name="phone" class="form-control" value="<%= @user.phone %>" required="required"
                  maxlength="11" pattern="\d{11}" oninvalid="this.setCustomValidity('请填写手机号(11位)')" oninput="setCustomValidity('')">
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group"><label class="col-sm-2 control-label">微信</label>
                <div class="col-sm-10">
                  <input type="text" name="wechat" class="form-control" maxlength="32" value="<%= @user.wechat %>">
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group"><label class="col-sm-2 control-label">住址</label>
                <div class="col-sm-10">
                  <input type="text" name="address" class="form-control" maxlength="128" value="<%= @user.address %>">
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-12">
                           <label><input type="text" id="debug1" name = "x1"/></label>
                          <label><input type="text" id="debug2" name = "y1"/></label>
                          <label><input type="text" id="debug3" name = "x2"/></label>
                          <label><input type="text" id="debug4" name = "y2"/></label>
                                                    <div class="col-sm-10"> <%= f.file_field :avatar ,accept: 'image/png,image/jpeg'%></div>

                </div>
              </div>



              <div class="hr-line-dashed"></div>

          </div>
            <div class="col-md-5">
              <div class="contact-box">

                <div class="col-sm-4">
                  <div class="outer" style="height:100px;width:100px;overflow:hidden">
                    <img id="show" alt="image" class="img-circle m-t-xs" height="95" width="95" src="<%= @user.avatar.url(:small) %>">
                  </div>
                </div>
                <div class="col-sm-8">
                  <h3><strong><%= @user.nickname %></strong></h3>
                  <p><i class="fa fa-map-marker"></i> <%= @user.address %></p>
                  <address>
                    <strong>联系方式</strong><br>
                    <i class="fa fa-phone"></i> <%= @user.phone %><br>
                    <i class="fa fa-wechat"></i> <%= @user.wechat %><br>
                    <i class="fa fa-envelope"></i> <%= @user.email %><br>
                  </address>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#avatarModal">更改头像</button>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-primary" type="submit">保存修改</button>
              </div>
            </div>
          </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
                 <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title" id="myModalLabel">更改头像</h4>

                        </div>
                        <div class="modal-body" id="modal-container">
                          <div class = "crop-image-wrapper">
                            <img id="edit_image" src= "<%= @user.avatar.url(:small)%>"/>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                          <button type="submit" value="avatar_upload"class="btn btn-primary">保存</button>
                        </div>
                      </div>
                    </div>
                  </div>
</div>

<style>

.jcrop-fit {
  display: inline-block;
}
.crop-image-wrapper{
  text-align: center;
}
</style>

<script type="text/javascript">


$(function() {

  var jcrop_api;
  var MWidth = 480;
  var MHeight = 270;
  $("#edit_image").Jcrop({
    addClass: 'jcrop-fit',
    aspectRatio:1,
    onChange:showCoords,
    onSelect:showCoords,
    boxWidth:MWidth,
    boxHeight:MHeight
    },function(){
      jcrop_api = this;
    });

  function readURL(input) {

      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              //$('#show').attr('src', e.target.result);
              document.getElementById("show").src=e.target.result;
              jcrop_api.setImage(e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
      }
  }

function showCoords(c){
  $("#debug1").val(c.x);
  $("#debug2").val(c.y);
  $("#debug3").val(c.x2);
  $("#debug4").val(c.y2);
}

  $("#user_avatar").change(function(){
      readURL(this);
      $("#avatarModal").modal('show');
  });

});

</script>
