<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-7">
      <div class="slick_demo">
        <div>
          <div class="ibox-content">
            <div class="image-imitation"><img src="/images/1.jpg" style="width: 100%"/></div>
          </div>
        </div>
        <div>
          <div class="ibox-content">
            <div class="image-imitation"><img src="/images/2.jpg" style="width: 100%"/></div>
          </div>
        </div>
        <div>
          <div class="ibox-content">
            <div class="image-imitation"><img src="/images/3.jpg" style="width: 100%"/></div>
          </div>
        </div>
        <div>
          <div class="ibox-content">
            <div class="image-imitation"><img src="/images/4.jpg" style="width: 100%"/></div>
          </div>
        </div>
        <div>
          <div class="ibox-content">
            <div class="image-imitation"><img src="/images/5.jpg" style="width: 100%"/></div>
          </div>
        </div>
        <div>
          <div class="ibox-content">
            <div class="image-imitation"><img src="/images/6.jpg" style="width: 100%"/></div>
          </div>
        </div>
        <div>
          <div class="ibox-content">
            <div class="image-imitation"><img src="/images/7.jpg" style="width: 100%"/></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="margin-left:50px">
      <div class="row">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-envelope-o fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> 给你发订单的人 </span>
                    <h2 class="font-bold"><%= @order_count%></h2>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-thumbs-up fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> 收藏你的人 </span>
                    <h2 class="font-bold"><%= @likes_count%></h2>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="widget style1 red-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-bell fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> 给你发通知的人 </span>
                    <h2 class="font-bold"><%= @notif_count%></h2>
                </div>
            </div>
        </div>
      </div>
    </div>

  </div>

  <h2>最近的posts</h2>
  <div class="row">
    <div class="col-lg-12">

      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

          <% @products.each do |e|%>
          <div class="col-md-3">
            <div class="ibox">
              <div class="ibox-content product-box">
                <div class="product-imitation">
                  <a href="<%= product_path(e) %>"><img alt="image" src="<%= e.photo0.url(:thumb) %>" style = "width:100%"></a>
                </div>
                <div class="product-desc">
                  <span class="product-price">
                    ￥<%= e.price %>
                  </span>
                  <a href="<%= product_path(e) %>" class="product-name pname"> <%= e.title %></a>

                  <div class="small m-t-xs ptext">
                    <%= e.description.length > 20 ? e.description[0,20]+"..." : e.description %>
                  </div>
                  <%if e.status == 0%>
                    <span class="label label-primary">正在出售</span>
                  <%elsif e.status == 1%>
                    <span class="label label-warning">正在联系</span>
                  <%elsif e.status == 2%>
                    <span class="label label-success">已卖出</span>
                  <%end%>


                </div>
              </div>
            </div>
          </div>
          <% end %>


        </div>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  $('.slick_demo').slick(
    {
      dots:true,
      autoplay: true,
      autoplaySpeed: 3000
    }
  );
});
</script>
