<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row" >
    <div class="col-lg-8">
      <div class="slick_demo">
            <div class="image-imitation"><img src="/images/1.jpg" style="width: 100%"/></div>

            <div class="image-imitation"><img src="/images/2.jpg" style="width: 100%"/></div>

            <div class="image-imitation"><img src="/images/3.jpg" style="width: 100%"/></div>

            <div class="image-imitation"><img src="/images/4.jpg" style="width: 100%"/></div>

            <div class="image-imitation"><img src="/images/5.jpg" style="width: 100%"/></div>

            <div class="image-imitation"><img src="/images/6.jpg" style="width: 100%"/></div>

            <div class="image-imitation"><img src="/images/7.jpg" style="width: 100%"/></div>
          </div>
        </div>
    <div class="col-lg-4">
      <div class="ibox-content" style="height:400px">
        <div class="full-height-scroll">
          <h3>通知中心</h3>
          <hr>

          <ul class="list-group clear-list">
            <li >
              <div class="alert alert-success">
                    <strong>欢迎来到THUpost</strong>
              </div>
            </li>
            <li>
              <div class="alert alert-warning">
                  <a class="alert-link" data-toggle="modal" data-target="#myModal2">新手村启示录</a>
              </div>
            </li>
            <%= render partial: 'help' %>
            <li>

              <div class="alert alert-info">
                  <a class="alert-link" href="/products/for_sale">您的宝贝有 <%= @order_count%> 条新的订单 </a>.
              </div>
            </li>
            <li >
              <div class="alert alert-info">
                    <a class="alert-link" href="/products/for_sale">您的宝贝被 <%= @likes_count%> 个人收藏</a>.
              </div>
            </li>
            <li >
              <div class="alert alert-info">
                    <a class="alert-link" href="/orders/index">您收到了 <%= @notif_count%> 份通知 </a>.
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>

  </div>

  <h2>最近的posts</h2>
  <div class="row">
    <div class="col-lg-12">

      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

          <% @products.each do |e|%>
          <div class="col-md-3">
            <div class="ibox">
              <div class="ibox-content product-box">
                <div class="product-imitation">
                  <a href="<%= product_path(e) %>"><img alt="image" src="<%= e.photo0.url(:thumb) %>" style = "width:100%"></a>
                </div>
                <div class="product-desc">
                  <span class="product-price">
                    ￥<%= e.price %>
                  </span>
                  <a href="<%= product_path(e) %>" class="product-name pname"> <%= e.title %></a>

                  <div class="small m-t-xs ptext">
                    <%= e.description.length > 20 ? e.description[0,20]+"..." : e.description %>
                  </div>
                  <%if e.status == 0%>
                  <span class="label label-primary">正在出售</span>
                  <%elsif e.status == 1%>
                  <span class="label label-warning">正在联系</span>
                  <%elsif e.status == 2%>
                  <span class="label label-success">已卖出</span>
                  <%end%>


                </div>
              </div>
            </div>
          </div>
          <% end %>


        </div>
      </div>
    </div>
  </div>
</div>


<script>


$(function(){
  $('.slick_demo').slick(
    {
      dots:true,
      autoplay: true,
      autoplaySpeed: 3000
    }
  );
});
</script>
