<div class="wrapper wrapper-content animated fadeInRight">

    <h2>我买的</h2>

</div>

<div class="row">
    <div class="col-lg-12">

          <div class="wrapper wrapper-content animated fadeInRight">
              <div class="row">
                <% @orders.each do |o| %>
                  <div class="col-md-3">
                      <div class="ibox">
                          <div class="ibox-content product-box">

                              <div class="product-imitation">
                                  <a href="<%= product_path(o.product) %>"><img alt="image" src="<%= o.product.photo0.url(:thumb) %>" style = "width:100%"></a>
                              </div>
                              <div class="product-desc">
                                          <span class="product-price">
                                              出价：<%= o.price %>
                                          </span>
                                <a href="<%= product_path(o.product) %>" class="product-name pname"> <%= o.product.title %></a>

                                <div class="small m-t-xs ptext">
                                  <%= o.product.description.length > 20 ? o.product.description[0,20]+"..." : o.product.description %>
                                </div>
                                  <div class="m-t text-righ">
                                      <!-- <a href="<%= product_path(o.product) %>" class="btn btn-sm btn-danger btn-primary"> 取消订单 <i class="fa fa-long-arrow-right"></i> </a> -->
                                      <a class="btn btn-sm btn-danger btn-primary cancel_btn" oid = <%= o.id %> > 取消订单 <i class="fa fa-long-arrow-right"></i> </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <% end %>
              </div>
        </div>
    </div>
</div>

<script>
$(function(){
  $('.cancel_btn').click(function() {
    $.ajax({
              type: "POST",
              url: "/orders/remove",
              data: {id : $(this).attr("oid")},
              dataType: "json",
              success: function(data){
                location=location;
              }
            });
  }
  );
});
</script>

