<div class="project-list">

  <table class="table table-hover">
    <tbody>
      <% product.orders.each do |e| %>
      <tr>

        <td class="project-people col-lg-2">
          <a href=""><img alt="image" class="img-circle" src="<%= e.user.avatar.url %>"></a>
          <%= e.user.nickname %>
        </td>

        <td class="project-completion">
          <span class="label label-warning">￥<%= e.price %></span>
        </td>


        <td class="project-title col-lg-4">
          <a href="/appviews/project_detail"><%= e.description %></a>
          <br>
          <small><%= e.created_at.strftime("%Y-%m-%d")%></small>
        </td>



        <td class="project-contact col-lg-4">
            <% if current_user != e.user %>
              <button class="btn btn-success btn-sm demo4" name = <%= e.id %> >发送短信</button>
              <button class="btn btn-primary btn-sm demo3" name = <%= e.id %> >发送邮件</button>
            <% end %>
        </td>

        <td class="project-status col-lg-2">
          <% if e.is_chosen == false %>
          <p><span class="label label-info">waiting</span></p>
          <% end %>
        </td>

      </tr>
      <% end %>

    </tbody>
  </table>
</div>
