<div class="project-list">

  <table class="table table-hover">
    <tbody>
      <% product.orders.each do |e| %>
      <tr>

        <td class="project-people">
          <a href=""><img alt="image" class="img-circle" src="/images/a1.jpg"></a>
          <%= e.user.nickname %>
        </td>

        <td class="project-completion">
          <span class="label label-warning">￥<%= e.price %></span>
        </td>


        <td class="project-title">
          <a href="/appviews/project_detail"><%= e.description %></a>
          <br>
          <small><%= e.created_at %></small>
        </td>


        <td class="project-contact">
          <div class="col-lg-3 h-100 p-lg">
              <button class="btn btn-success btn-sm demo4" name = <%= e.id %> >发送短信</button>
          </div>
          <div class="col-lg-3 h-100 p-lg">
              <button class="btn btn-primary btn-sm demo3" name = <%= e.id %> >发送邮件</button>
          </div>
        </td>

        <td class="project-status">
          <% if e.is_chosen == false %>
          <p><span class="label label-info">waiting</span></p>
          <% end %>
        </td>

      </tr>
      <% end %>

    </tbody>
  </table>
</div>
