<div class="project-list">

  <table class="table table-hover">
    <tbody>
      <% @orders.each do |e| %>
      <tr>

        <td class="project-people col-lg-2">
          <a href=""><img alt="image" class="img-circle" src="<%= e.user.avatar.url %>"></a>
          <%= e.user.nickname %>
        </td>

        <td class="project-completion col-lg-1">
          <span class="label label-warning">￥<%= e.price %></span>
        </td>


        <td class="project-title col-lg-4">
          <a href="/appviews/project_detail"><%= e.description %></a>
          <br>
          <small><%= e.created_at.strftime("%Y-%m-%d")%></small>
        </td>



        <td class="project-contact col-lg-3">
            <% if current_user == @product.user && @product.status == 0%>
              <button class="btn btn-success btn-sm demo4" name = <%= e.id %> >发送短信</button>
              <button class="btn btn-primary btn-sm demo3" name = <%= e.id %> >发送邮件</button>
            <% end %>
        </td>

        <td class="project-completion col-lg-2">
          <% if (e.status == 0) %>
          <span class="label label-info">等待中</span>
          <% elsif (e.status == 1) %>
          <span class="label label-warning">联系中</span>
          <% elsif (e.status == 2) %>
          <span class="label label-success">已收货</span>
          <% end %>
        </td>

      </tr>
      <% end %>

    </tbody>
  </table>
</div>
