<div class="wrapper wrapper-content animated fadeInRight">
  <div class="pull-right"><a type="button" class="btn btn-w-m btn-primary btn-lg" href="<%= new_product_path %>">我要卖东西</a></div>
  <h2>我卖的</h2>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

<% @products.each do |e| %>
<div class="vote-item">
    <div class="row">

      <div class="col-md-1">
        <%if e.orders.count > 0%>
          <span class="label label-danger" style="position: absolute;right: 0px;top: -6px;"><%= e.orders.count %></span>
        <%end%>
          <a href="<%= product_path(e)%>"><img alt="image" src= <%= e.photo0.url(:thumb) %> height="70" width="70"></a>
      </div>

        <div class="col-md-4">

            <a href="<%= product_path(e)%>" class="vote-title">
                <%= e.title %>
            </a>
            <div class="vote-info">
                <i class="fa fa-comments-o"></i> 订单 (<%= e.orders.count %>)&nbsp
                <i class="fa fa-clock-o"></i>更新于 (<%= e.updated_at %>)&nbsp
                <!-- <i class="fa fa-user"></i> <a href="#"></a> -->
            </div>
        </div>

        <div class="col-md-4" style="line-height:70px;">
          <%if e.status == 0%>
            <span class="label label-primary">正在出售</span>
          <%elsif e.status == 1%>
            <span class="label label-warning">正在联系</span>
          <%elsif e.status == 2%>
            <span class="label label-success">已卖出</span>
          <%end%>
        </div>

        <div class="col-md-3 button-f">
          <div class="button-c" style="right:20px">
            <%if e.status == 1%>
              <button class="btn btn-success btn-md selled_btn" name = <%= e.id %> >已卖出</button>
              <button class="btn btn-primary btn-md return_btn" name = <%= e.id %> >重新出售</button>
              <%end%>
            <button class="btn btn-danger btn-md delete_btn" name = <%= e.id %> >删&nbsp &nbsp除</button>&nbsp
          </div>
        </div>



    </div>
</div>


<% end %>


</div>

<script>
$(function(){

  $('.delete_btn').click(function() {
    var pid = $(this).attr("name");
    swal({
      title: "确定删除商品",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "确定",
      closeOnConfirm: false,
      cancelButtonText: "取消"
    },
    function (isConfirm) {
      if (isConfirm) {
        $.ajax({
                  type: "POST",
                  url: "/products/remove",
                  data: {id : pid},
                  dataType: "json",
                  success: function(data){
                    location=location;
                    swal("成功", "已删除商品", "success");
                  }
                });
      }
    });
  });

  $('.selled_btn').click(function() {
    $.ajax({
              type: "POST",
              url: "/products/selled",
              data: {id : $(this).attr("name")},
              dataType: "json",
              success: function(data){
                location=location;
              }
            });
  }
  );

  $('.return_btn').click(function() {
    $.ajax({
              type: "POST",
              url: "/products/cancel",
              data: {id : $(this).attr("name")},
              dataType: "json",
              success: function(data){
                location=location;
              }
            });
  }
  );

});

</script>
