<div class="wrapper wrapper-content animated fadeInRight">
  <div class="pull-right"><a type="button" class="btn btn-w-m btn-success" href="<%= new_product_path %>">Create new sale</a></div>
  <h2>我卖的</h2>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

<% @products.each do |e| %>
<div class="vote-item">
    <div class="row">

      <div class="col-md-3 ">
          <a href=""><img alt="image" src= <%= e.photo0.url(:thumb) %> height="70" width="70"></a>
      </div>

        <div class="col-md-8">

            <a href="#" class="vote-title">
                <%= e.title %>
            </a>
            <div class="vote-info">
                <i class="fa fa-comments-o"></i> Orders (<%= e.orders.count %>)
                <i class="fa fa-clock-o"></i> <a href="#">1 Hours ago</a>
                <i class="fa fa-user"></i> <a href="#">Andrew Williams</a>
            </div>
        </div>
        <div class="col-md-1 ">
            <div class="vote-icon">
                <a class="expand-btn" data-target-id="<%= e.id %>"><i class="fa fa-sort-desc"> </i></a>
            </div>
        </div>
    </div>
</div>

<div class="vote-item sub-order-list" id="sub-<%= e.id %>">
    <div class="row">
      <%= render partial: "order_list", locals: {product: e} %>
    </div>
</div>
<% end %>


</div>

<script>
$(function(){
  $(".sub-order-list").hide();
  $(".expand-btn").click(function() {
    var btn = $(this);
    $(".sub-order-list").hide('fast');
    var target_id = btn.data('target-id');
    $('#sub-' + target_id).toggle('fast');
  });
});
</script>
