
<%= csrf_meta_tag %>

<div class="wrapper wrapper-content animated fadeInRight">

  <div>
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3>添加商品</h3>
      </div>
      <div class="ibox-content">
        <div class="row">
          <%= form_for @product, url: {action: "create"} ,:html => {:id => 'mydropzone', :enctype => 'multipart/form-data'} do |f| %>

          <!-- <form id="my-awesome-dropzone" enctype='multipart/form-data' multipart=true method="post" class="dropzone" action="create"> -->
          <div class="col-sm-6 b-r">
            <div class="form-group"><label>商品名称</label>
              <input type="text" placeholder="30字以内" name="title" class="form-control" id="title"></div>

              <div class="form-group"><label>标签</label>
                <div class="input-group" name="tag">
                  <select data-placeholder="Choose a tag..." class="chosen-select" multiple style="width:350px;" tabindex="4" name="tag">
                    <option value="电子产品">电子产品</option>
                    <option value="生活用品">生活用品</option>
                    <option value="书籍">书籍</option>
                    <option value="门票">门票</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label>最低价格</label>
                <input type="text" name="price" class="form-control"></div>
                <div class="form-group">
                  <label >描述</label>
                  <textarea type="text" rows="3" name="description" class="form-control"></textarea>
                </div>
                <div>
                  <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" id="sbmtbtn"><strong>提交</strong></button>
                </div>
                <div>
                  <input type="hidden" name="tag" id="form_tag"> </input>
                </div>

              </div>

              <div class="col-sm-6">
                <!-- <div id = "dropzonePreview" class="dropzone-previews dz-default">
                <div class="dz-message" data-dz-message><span>Your Custom Message</span></div>
              </div> -->
              <!-- <%= f.file_field :avatar ,id: 'pictureInput'%> -->
              <div class="row">

                <div class="col-xs-3">
                  <div id="target_0" style="height:100px;width:100px;border:solid;"></div>
                  <div class="fileUpload btn btn-primary" id="g0">
                    <span>上传图片</span>
                    <input type="file" class="upload" name="product[photo0]" id="pictureInput"/>
                  </div>
                  <button class="fileUpload btn btn-danger" id="cancel_0" style="display:none" type="button">取消</button>
                </div>
                <div class="col-xs-3">
                  <div id="target_0" style="height:100px;width:100px;border:solid;"></div>
                  <div class="fileUpload btn btn-primary" id="g1">
                    <span>上传图片</span>
                    <input type="file" class="upload" name="product[photo0]" id="pictureInput"/>
                  </div>
                  <button class="fileUpload btn btn-danger" id="cancel_1" style="display:none" type="button">取消</button>
                </div>
                <div class="col-xs-3">
                  <div id="target_0" style="height:100px;width:100px;border:solid;"></div>
                  <div class="fileUpload btn btn-primary" id="g1">
                    <span>上传图片</span>
                    <input type="file" class="upload" name="product[photo0]" id="pictureInput"/>
                  </div>
                  <button class="fileUpload btn btn-danger" id="cancel_1" style="display:none" type="button">取消</button>
                </div>
              </div>
            </br>

              <div class="row">

                <div class="col-xs-3">
                  <div id="target_0" style="height:100px;width:100px;border:solid;"></div>
                  <div class="fileUpload btn btn-primary" id="g1">
                    <span>上传图片</span>
                    <input type="file" class="upload" name="product[photo0]" id="pictureInput"/>
                  </div>
                  <button class="fileUpload btn btn-danger" id="cancel_1" style="display:none" type="button">取消</button>
                </div>
                <div class="col-xs-3">
                  <div id="target_0" style="height:100px;width:100px;border:solid;"></div>
                  <div class="fileUpload btn btn-primary" id="g1">
                    <span>上传图片</span>
                    <input type="file" class="upload" name="product[photo0]" id="pictureInput"/>
                  </div>
                  <button class="fileUpload btn btn-danger" id="cancel_1" style="display:none" type="button">取消</button>
                </div>

              </div>



              <!--

              <%= f.file_field :photo0 %>
              <%= f.file_field :photo1 %>
              <%= f.file_field :photo2 %>
              <%= f.file_field :photo3 %>
              <%= f.file_field :photo4 %> -->

            </div>
          </form>

          <% end %>

        </div>

      </div>

    </div>
  </div>
</div>
</div>

</div>


<script type="text/javascript">


$(function() {
  $('#pictureInput').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;
      img.height="98"
      img.width="98"
      $('#target_0').html(img);
      document.getElementById('cancel_0').style.display = 'inline'
      document.getElementById('g0').style.display = 'none'
    }
    reader.readAsDataURL(image);
    console.log(files);
  });

  $("#cancel_1").click(function(){
    document.getElementById("pictureInput").value = "";
    document.getElementById('cancel_1').style.display = 'none'
    document.getElementById('target_0').style.display = 'none';
    document.getElementById('g1').style.display = 'inline'

  })

  $('.chosen-select').chosen({});
  $(".chosen-select").chosen().change(function(v) {
    document.getElementById('cancel_1').style.display = 'none'
    $("#form_tag").val($(this).val());
  });
});

</script>
