<div class="wrapper wrapper-content animated fadeInRight">

  <h2>搜索 <strong><%= @search_content %></strong> 的结果 <small>共<%=@product_number%>条</small></h2>
  <div class="row">
    <div class="col-lg-12">

      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

          <% @products.each do |e|%>
          <div class="col-md-2">
            <div class="ibox">
              <div class="ibox-content product-box">
                <div class="product-imitation">
                  <a href="<%= product_path(e) %>"><img alt="image" src="<%= e.photo0.url(:thumb) %>" style = "width:100%"></a>
                </div>
                <div class="product-desc">
                  <span class="product-price">
                    ￥<%= e.price %>
                  </span>
                  <a href="<%= product_path(e) %>" class="product-name pname"> <%= e.title %></a>

                  <div class="small m-t-xs ptext">
                    <%= e.description.length > 20 ? e.description[0,20]+"..." : e.description %>
                  </div>

                  <%if e.status == 0%>
                    <span class="label label-primary">正在出售</span>
                  <%elsif e.status == 1%>
                    <span class="label label-warning">正在联系</span>
                  <%elsif e.status == 2%>
                    <span class="label label-success">已卖出</span>
                  <%end%>

                </div>
              </div>
            </div>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <p style="font-size: large;text-align:center">
		<%if(@page>1) %>
			<a href="search?query=<%=@search_content%>&page=<%=@page-1%>">上一页</a>
		<% end %>
		<%for i in [1,@page-5].max..(@page-1)%>
			<a href="products/search?query=<%=@search_content%>&page=<%=i%>"><%=i%></a>
		<% end %>
		<strong><%=@page%></strong>
		<%for i in (@page+1)..[@page+5,@lastpage].min%>
			<a href="search?query=<%=@search_content%>&page=<%=i%>"><%=i%></a>
		<% end %>
		<%if(@page != @lastpage && @lastpage!=0) %>
		<a href="search?query=<%=@search_content%>&page=<%=@page+1%>">下一页</a>
		<%end %>
    <%if(@lastpage < 1) %>
      <h2 style="text-align: center;">抱歉，没有结果</h2>
      <%end%>
	</p>

</div>
</div>
