<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">

      <div class="ibox product-detail">

        <div class="ibox-content">

          <%if(@product.status == 0)%>
          <span class="open">
            正在出售
          </span>
          <%elsif(@product.status == 1) %>
          <span class="contacting">
            正在联系
          </span>
          <%elsif(@product.status == 2) %>
          <span class="sold">
            已卖出
          </span>
          <%end%>



          <div class="row">
            <div class="col-md-5">

              <div class="slick_demo">
                <div>
                  <div class="image-imitation">
                    <img style="width: 100%;" alt="image" src=<%= @product.photo0.url(:thumb) %>/>
                  </div>
                </div>
                <div>
                  <div class="image-imitation">
                    <img style="width: 100%;" alt="image" src=<%= @product.photo1.url(:thumb) %>/>
                  </div>
                </div>
                <div>
                  <div class="image-imitation">
                    <img style="width: 100%;" alt="image" src=<%= @product.photo2.url(:thumb) %>/>
                  </div>
                </div>
                <div>
                  <div class="image-imitation">
                    <img style="width: 100%;" alt="image" src=<%= @product.photo3.url(:thumb) %>/>
                  </div>
                </div>
                <div>
                  <div class="image-imitation">
                    <img style="width: 100%;" alt="image" src=<%= @product.photo4.url(:thumb) %>/>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-7">

              <h2 class="font-bold m-b-xs">
                <%= @product.title %>
              </h2>

              <div hidden="hidden" id="pid"><%= @product.id %></div>

              <div class="m-t-md">
                <h2 class="product-main-price">￥<%= @product.price %></h2>
              </div>
              <div class="hr-line-dashed"></div>

              <h4>商品描述</h4>
              <div class="text-muted">
                <%= @product.description %>
                <br/>
              </div>

              <div class="hr-line-dashed"></div>

              <% if (current_user != @product.user) %>
              <div >
                <% if @iscollection == 0 %>
                <button class="btn btn-white btn-md coll_btn coll_new_btn" ><i class="fa fa-heart"></i> 加入收藏 </button>
                <% else %>
                <button class="btn btn-white btn-md coll_btn coll_remove_btn" ><i class="fa fa-heart-o"></i> 取消收藏 </button>
                <% end %>
              </div>

              <div class="hr-line-dashed"></div>

              <% if (!@already_buy) %>
              <%= form_for @order, html: {class: "form-horizontal"}, url: {action: "create", controller: 'orders'} do |f| %>
              <div class="form-group">
                <div class="col-sm-12"><textarea rows="3" maxlength="20" placeholder="你对这个宝贝的想法(20字以内)" class="form-control" name="description"></textarea></div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" placeholder="你的出价" class="form-control" maxlength="8" name="price" required="" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary">买!</button>
                    </span>
                  </div>
                </div>
              </div>
              <% end %>
              <% end %>
              <% end %>



            </div>
          </div>

        </div>

        <div class="ibox-footer">
          <img alt="image" class="img-circle" src=<%= @product.user.avatar.url(:small) %> height="20" width="20">
          <span>
            <strong><%= @product.user.nickname %></strong> <%= @product.user.email %>
          </span>
          <span class="pull-right">
             创建于 - <i class="fa fa-clock-o"></i> <%= @product.created_at %>
          </span>

        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title" style="border-style: hidden;">
          <h5>出价表</h5> &nbsp &nbsp <small> 按照买家的意愿价格排序</small>
        </div>

        <div class="ibox-content">


          <%= render partial: 'order_list', locals: {product: @product} %>

        </div>
      </div>
    </div>
  </div>
</div>


<script>

$(function(){

  $('.cancel_btn').click(function() {
    var oid = $(this).attr("oid");

    swal({
      title: "确定删除订单",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "确定",
      closeOnConfirm: false,
      cancelButtonText: "取消"
    },
    function (isConfirm) {
      if (isConfirm) {
        $.ajax({
                  type: "POST",
                  url: "/orders/remove",
                  data: {id : oid},
                  dataType: "json",
                  success: function(data){
                    location=location;
                    swal("成功", "已删除订单", "success");
                  }
                });
      }
    });
  });

  $('.slick_demo').slick(
    {
      //centerMode: true,
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      //adaptiveHeight: true
    }
  );

  $('.demo4').click(function () {
    var order = $(this).attr('name');
    swal({
      title: "确定把你的联系方式发送给Ta？",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#40f258",
      confirmButtonText: "发送",
      cancelButtonText: "取消",
      closeOnConfirm: false,
      closeOnCancel: true
    },
    function (isConfirm) {
      if (isConfirm) {
        console.log(order);
        $.ajax({
          type: "POST",
          url: "/orders/notify_text",
          data: {order_id: order},
          dataType: "json",
          success: function (data) {
            swal("成功", "发送短信短信", "success");
            location=location;
          }
        });
      }
    });
  });

  $('.demo3').click(function () {
    var order = $(this).attr('name');
    swal({
      title: "即将通过邮件交换联系方式",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#40f258",
      confirmButtonText: "发送",
      cancelButtonText: "取消",
      closeOnConfirm: false,
      closeOnCancel: true
     },
      function (isConfirm) {
        if (isConfirm) {
          console.log(order)
          $.ajax({
            type: "POST",
            url: "/orders/notify_email",
            data: {order_id : order},
            dataType: "json",
            success: function(data){
              swal("已成功交换联系方式", "请查收邮件并及时进行交易", "success");
              location=location;
            }
          });
        }
      });
    });


    $(".coll_btn").click(function() {
      // alert($("#pid").html());
      var obj = $(this);
      var url = "/collections/new";
      if (obj.hasClass('coll_remove_btn'))
      url = "/collections/remove";
      $.ajax({
        type: "POST",
        url: url,
        data: {id : $("#pid").html()},
        dataType: "json",
        success: function(data){
          if (obj.hasClass('coll_remove_btn')) {
            obj.removeClass('coll_remove_btn');
            obj.addClass('coll_new_btn');
            obj.html('<i class="fa fa-heart"></i> 加入收藏');
          } else {
            obj.removeClass('coll_new_btn');
            obj.addClass('coll_remove_btn');
            obj.html('<i class="fa fa-heart-o"></i> 取消收藏');
          }
        }
      });
    });

  });

  </script>
