<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">

      <div class="ibox product-detail">

        <div class="ibox-content">

          <%if(@product.status == 0)%>
          <span class="open">
            正在出售
          </span>
          <%elsif(@product.status == 1) %>
          <span class="contacting">
            正在联系
          </span>
          <%elsif(@product.status == 2) %>
          <span class="sold">
            已卖出
          </span>
          <%end%>



          <div class="row">
            <div class="col-md-5">

              <div class="slick_demo">
                <div>
                  <div class="image-imitation">
                    <img style="width: 100%;" alt="image" src=<%= @product.photo0.url(:thumb) %>/>
                  </div>
                </div>
                <div>
                  <div class="image-imitation">
                    <img style="width: 100%;" alt="image" src=<%= @product.photo1.url(:thumb) %>/>
                  </div>
                </div>
                <div>
                  <div class="image-imitation">
                    <img style="width: 100%;" alt="image" src=<%= @product.photo2.url(:thumb) %>/>
                  </div>
                </div>
                <div>
                  <div class="image-imitation">
                    <img style="width: 100%;" alt="image" src=<%= @product.photo3.url(:thumb) %>/>
                  </div>
                </div>
                <div>
                  <div class="image-imitation">
                    <img style="width: 100%;" alt="image" src=<%= @product.photo4.url(:thumb) %>/>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-7">

              <h2 class="font-bold m-b-xs">
                <%= @product.title %>
              </h2>

              <div hidden="hidden" id="pid"><%= @product.id %></div>

              <div class="m-t-md">
                <h2 class="product-main-price">￥<%= @product.price %></h2>
              </div>
              <hr>

              <h4>商品描述</h4>
              <div class="small text-muted">
                <%= @product.description %>
                <br/>
              </div>

              <hr>

              <div >
                <% if @iscollection == 0 %>
                <button class="btn btn-white btn-md coll_btn coll_new_btn" ><i class="fa fa-star"></i> 加入收藏 </button>
                <% else %>
                <button class="btn btn-white btn-md coll_btn coll_remove_btn" ><i class="fa fa-star"></i> 取消收藏 </button>
                <% end %>
              </div>


            </div>
          </div>

        </div>



        <div class="ibox-footer">
          <img alt="image" class="img-circle" src=<%= @product.user.avatar.url(:small) %> height="20" width="20">
          <span>
            <strong><%= @product.user.nickname %></strong> <%= @product.user.email %>
          </span>
          <span class="pull-right">
            Created at - <i class="fa fa-clock-o"></i> <%= @product.created_at %>
          </span>

        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title" style="border-style: hidden;">
          <h5>出价表</h5>
        </div>

        <div class="ibox-content">
          <% if current_user != @product.user %>
          <%= form_for @order, html: {class: "form-horizontal"}, url: {action: "create", controller: 'orders'} do |f| %>
          <div class="form-group">
            <label class="col-sm-2 control-label">评论</label>
            <div class="col-sm-10"><textarea rows="3" class="form-control" name="description"></textarea></div>
          </div>
          <div class="form-group">
            <label class="col-sm-offset-6 col-sm-2 control-label">出价</label>
            <div class="col-sm-4">
              <div class="input-group">
                <input type="text" class="form-control" name="price" required="" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary">Go!</button>
                </span>
              </div>
            </div>
          </div>
          <% end %>

          <div class="hr-line-dashed"></div>
          <% end %>

          <%= render partial: 'order_list', locals: {product: @product} %>

        </div>
      </div>
    </div>
  </div>
</div>


<script>

$(function(){
  $('.slick_demo').slick(
    {
      //centerMode: true,
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      //adaptiveHeight: true
    }
  );

  $('.demo4').click(function () {
    var order = $(this).attr('name');
    swal({
      title: "确定发送短信？",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#40f258",
      confirmButtonText: "发送",
      cancelButtonText: "取消",
      closeOnConfirm: false,
      closeOnCancel: true
    },
    function (isConfirm) {
      if (isConfirm) {
        console.log(order);
        $.ajax({
          type: "POST",
          url: "/orders/notify_text",
          data: {order_id: order},
          dataType: "json",
          success: function (data) {
            swal("成功", "发送短信短信", "success");
          }
        });
      }
    });
  });

  $('.demo3').click(function () {
    var order = $(this).attr('name');
    swal({
      title: "确定发送邮件？",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#40f258",
      confirmButtonText: "发送",
      cancelButtonText: "取消",
      closeOnConfirm: false,
      closeOnCancel: true
     },
      function (isConfirm) {
        if (isConfirm) {
          console.log(order)
          $.ajax({
            type: "POST",
            url: "/orders/notify_email",
            data: {order_id : order},
            dataType: "json",
            success: function(data){
              swal("成功", "发送邮件通知", "success");
            }
          });
        }
      });
    });


    $(".coll_btn").click(function() {
      // alert($("#pid").html());
      var obj = $(this);
      var url = "/collections/new";
      if (obj.hasClass('coll_remove_btn'))
      url = "/collections/remove";
      $.ajax({
        type: "POST",
        url: url,
        data: {id : $("#pid").html()},
        dataType: "json",
        success: function(data){
          if (obj.hasClass('coll_remove_btn')) {
            obj.removeClass('coll_remove_btn');
            obj.addClass('coll_new_btn');
            obj.html('<i class="fa fa-star"></i>加入收藏');
          } else {
            obj.removeClass('coll_new_btn');
            obj.addClass('coll_remove_btn');
            obj.html('<i class="fa fa-star"></i>取消收藏');
          }
        }
      });
    });

  });

  </script>
