<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

          <li class="nav-header">
              <div class="dropdown profile-element" style="height: 100px;">
                  <span>
                    <%= link_to user_edit_show_path do %>
                    <% if current_user != nil %>
                      <img alt="image" class="img-circle" src=<%= current_user.avatar.url(:small) %> height="70" width="70" />
                    <% end %>
                    <% end %>
                  </span>
                      <span class="clear">
                          <span class="block m-t-xs">
                            <% if current_user != nil %>
                              <strong class="font-bold" style="color:#a7b1c2"><%= current_user.nickname %></strong>
                            <% end %>
                          </span>
                          <span class="block m-t-xs">
                            <% if current_user != nil %>
                              <small style="color:#a7b1c2"><%= current_user.email %></small>
                            <% end %>
                          </span>
                      </span>
              </div>

          </li>
          <li class="<%= 'active' %>">
                <a href=""><i class="fa fa-yelp"></i> <span class="nav-label">我要买</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                  <li class="<%= 'active' if current_page?('/products/tag?query=电子产品') %>">
                      <%= link_to "/products/tag?query=电子产品" do %>
                      <i class="fa fa-laptop"></i> <span class="nav-label">电子产品</span>
                      <% end %>
                  </li>

                  <li class="<%= 'active' if current_page?('/products/tag?query=衣服') %>">
                      <%= link_to "/products/tag?query=衣服" do %>
                      <i class="fa fa-gift"></i> <span class="nav-label">衣服</span>
                      <% end %>
                  </li>
                  <li class="<%= 'active' if current_page?('/products/tag?query=生活用品') %>">
                      <%= link_to "/products/tag?query=生活用品" do %>
                      <i class="fa fa-suitcase"></i> <span class="nav-label">生活用品</span>
                      <% end %>
                  </li>
                  <li class="<%= 'active' if current_page?('/products/tag?query=书籍') %>">
                      <%= link_to "/products/tag?query=书籍" do %>
                      <i class="fa fa-book"></i> <span class="nav-label">书籍</span>
                      <% end %>
                  </li>
                  <li class="<%= 'active' if current_page?('/products/tag?query=美妆') %>">
                      <%= link_to "/products/tag?query=美妆" do %>
                      <i class="fa fa-pagelines"></i> <span class="nav-label">美妆</span>
                      <% end %>
                  </li>
                  <li class="<%= 'active' if current_page?('/products/tag?query=体育') %>">
                      <%= link_to "/products/tag?query=体育" do %>
                      <i class="fa fa-futbol-o"></i> <span class="nav-label">体育</span>
                      <% end %>
                  </li>
                  <li class="<%= 'active' if current_page?('/products/tag?query=其他') %>">
                      <%= link_to "/products/tag?query=其他" do %>
                      <i class="fa fa-paw"></i> <span class="nav-label">其他</span>
                      <% end %>
                  </li>

                </ul>
            </li>

            <li class="<%= 'active' if current_page?('/products/new') %>">
                <%= link_to "/products/new" do %>
                <i class="fa fa-money"></i> <span class="nav-label">我要卖</span>
                <% end %>
            </li>


            <li style="position: fixed;margin-left: 20px;margin-top: 50px;">
              <!-- <span class="nav-label" style="display:block;margin-left:10%;color: #a7b1c2;">关注我们，反馈意见</span> -->
              <img src="/images/wechat.jpg" style="width: 70%"/>
            </li>


        </ul>

    </div>
</nav>
