<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

          <li class="nav-header">
              <div class="dropdown profile-element" style="height: 100px;">
                  <span>
                    <%= link_to user_edit_show_path do %>
                    <% if current_user != nil %>
                      <img alt="image" class="img-circle" src=<%= current_user.avatar.url(:small) %> height="70" width="70" />
                    <% end %>
                    <% end %>
                  </span>
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear">
                          <span class="block m-t-xs">
                            <% if current_user != nil %>
                              <strong class="font-bold"><%= current_user.nickname %></strong>
                            <% end %>
                          </span>
                          <span class="block m-t-xs">
                            <% if current_user != nil %>
                              <small><%= current_user.email %></small>
                            <% end %>
                          </span>
                      </span>
                  </a>
              </div>

          </li>
          <li>
                <a href=""><i class="fa fa-yelp"></i> <span class="nav-label">我要买</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                  <li class="<%= 'active' if current_page?('/products/tag?query=电子产品') %>">
                      <%= link_to "/products/tag?query=电子产品" do %>
                      <i class="fa fa-laptop"></i> <span class="nav-label">电子产品</span>
                      <% end %>
                  </li>

                  <li class="<%= 'active' if current_page?('/products/tag?query=衣服') %>">
                      <%= link_to "/products/tag?query=衣服" do %>
                      <i class="fa fa-gift"></i> <span class="nav-label">衣服</span>
                      <% end %>
                  </li>
                  <li class="<%= 'active' if current_page?('/products/tag?query=生活用品') %>">
                      <%= link_to "/products/tag?query=生活用品" do %>
                      <i class="fa fa-suitcase"></i> <span class="nav-label">生活用品</span>
                      <% end %>
                  </li>
                  <li class="<%= 'active' if current_page?('/products/tag?query=书籍') %>">
                      <%= link_to "/products/tag?query=书籍" do %>
                      <i class="fa fa-book"></i> <span class="nav-label">书籍</span>
                      <% end %>
                  </li>

                </ul>
            </li>

            <li class="<%= 'active' if current_page?('/products/new') %>">
                <%= link_to "/products/new" do %>
                <i class="fa fa-money"></i> <span class="nav-label">我要卖</span>
                <% end %>
            </li>


        </ul>

    </div>
</nav>
