<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">



            <%= form_tag({:controller => "products", :action => "search"}, method: "get",class: "navbar-form-custom",style:"width:auto") do %>
            <button class="minimalize-styl-2 btn btn-primary " type="submit" style="margin-right:0px"><i class="fa fa-search"></i> </button>
              <%= text_field_tag :query, params[:query], size: 30 , placeholder: "试一试搜索吧~",style:"float: left;padding: 4px 12px;margin: 14px 5px 5px 2px;"%>
            <% end %>


        </div>
        <div class= "pull-right">
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <%= link_to  home_index_path  do %>
                    <i class="fa fa-home"></i> 首页
                <% end %>
            </li>
            <li>
                <%= link_to user_edit_show_path do %>
                    <i class="fa fa-user"></i> 个人资料
                <% end %>
            </li>
            <li>
                <%= link_to orders_path do %>
                    <i class="fa fa-archive"></i> 我买的
                <% end %>
            </li>
            <li>
                <%= link_to products_for_sale_path do %>
                    <i class="fa fa-money"></i> 我卖的
                <% end %>
            </li>
            <li>
                <%= link_to collections_show_path  do %>
                    <i class="fa fa-star"></i> 收藏
                <% end %>
            </li>
            <li>
                <%= link_to( destroy_user_session_path, method: :delete) do %>
                    <i class="fa fa-sign-out"></i> 登出
                <% end %>
            </li>
        </ul>
      </div>
    </nav>
</div>
